<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge.Net35" version="0.2.0" targetFramework="net35" />
  <package id="AlphaFS" version="2.1.3" targetFramework="net35" />
  <package id="Cube.Backwards" version="1.4.0" targetFramework="net35" />
  <package id="Cube.Core.Net35" version="1.5.1" targetFramework="net35" />
  <package id="Cube.FileSystem.Net35" version="1.5.1" targetFramework="net35" />
  <package id="Cube.Forms.Net35" version="1.5.1" targetFramework="net35" />
  <package id="Cube.Images.Net35" version="1.5.1" targetFramework="net35" />
  <package id="log4net" version="2.0.8" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
  <package id="NUnit" version="3.8.1" targetFramework="net35" />
  <package id="OpenCover" version="4.6.519" targetFramework="net35" />
  <package id="ReportGenerator" version="3.0.0" targetFramework="net35" />
</packages>